
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: white;
    width: 500px;
    max-width: 1000px;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form input:focus {
    border-color: lightblue;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: lightblue;
}


.footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: lightblue;
}

.footer a:hover {
    text-decoration: underline;
}


.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
